mat-form-field, button, .div-greska {
	width: 90%;
	font-size: 96%;
	margin-top: 10px;
	margin-left: 5%;
}

.div-greska {
	color: red;
	font-size: 90%;
	margin-top: 10px;
}

a:link {
    text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.zaboraviliSteLozinku
{
	padding-top: 3%;
	text-align: center;
}

.nijeUneo
{
	color: red;
	text-align: center;
	font-size: 80%;
	padding-top: 2%;
}

.sranjeDiv{
	text-align: center;
}

.dugmence{
	width: 45%;
}