
.lista-plejlisti, .lista-pesama {
	list-style-type: none;
	padding: 0;
}


li.selected {
	background-color:#456 !important;
}

.lista-plejlisti li, .lista-pesama li {
    padding: 5px;
    background-color: #123;
    margin-top: 2px;
    margin-bottom: 2px;
	color: white;
	cursor: pointer;
	margin-left: 0;
}
