
<mat-form-field>
	<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
</mat-form-field>

<mat-table #table [dataSource]="dataSource">

	<!-- Korisnik Column -->
	<ng-container matColumnDef="korisnik" class="sirina">
	  <mat-header-cell *matHeaderCellDef> Korisnik </mat-header-cell>
	  <mat-cell *matCellDef="let prijave"> {{prijave.usernameKorisnika}} </mat-cell>
	</ng-container>

	<!-- Bot Column -->
	<ng-container matColumnDef="bot" class="sirina">
		<mat-header-cell *matHeaderCellDef> Bot </mat-header-cell>
		<mat-cell *matCellDef="let prijave"> {{prijave.nazivFajla}} </mat-cell>
	  </ng-container>

	  <!-- Datum i vreme prijave Column -->
	<ng-container matColumnDef="datumVremePrijave" class="sirina">
		<mat-header-cell *matHeaderCellDef> Vreme prijave </mat-header-cell>
		<mat-cell *matCellDef="let prijave"> {{prijave.datumVremePrijave*1000 | date:'dd.MM.yyyy HH:mm'}}h </mat-cell>
	  </ng-container>

	<!--  Neka podesavanja za tabelu  -->
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
  <mat-paginator #paginator
	 [pageSize]="5"
	 [pageSizeOptions]="[5, 10, 20]"
	 [showFirstLastButtons]="true">
	</mat-paginator>