<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>

      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          max-width: 160px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }

      tr:nth-child(odd) {
          background-color: whitesmoke;
      }
  </style>
  <body>
    {{{body}}}
  </body>
</html>
