
<div class="pocetnaWrapper">

	<mat-card class="kartica">
		<mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="ikonica">insert_emoticon</mat-icon>
            </div>
            <mat-card-title>{{'O nama' | translate}}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				{{ 'oNamaOpis1Deo' | translate }}<b>{{ 'VestackeInte' | translate }}</b>{{ 'posleAIRec' | translate }}.
				</p>
				<p>
				{{ 'oNamaOpis2Deo' | translate }}<a href="#" routerLink='/igre'>{{ 'igara' | translate }}</a>{{ 'oNamaOpis3Deo' | translate }}<a href="#" routerLink='/prikaz-turnira'>{{ 'turnira' | translate }}</a>.{{ 'oNamaOpis4Deo' | translate }}<a href="#" routerLink='/prenos' >Olimijada TV</a>!
			</p>
			
		</mat-card-content>
  	</mat-card>

</div>
