<div style="display: inline-block;">

  <div class="leviG">
    <mat-card class="karticaDashboard">
      <mat-card-header style="text-align: center; display: table; margin: 0 auto;"><h3>Ukupno botova po mesecima</h3></mat-card-header>

      <mat-card-content>
        <div style="display: table; padding: 18px; display: table; margin: 0 auto;">
          <app-botovi-po-mesecima></app-botovi-po-mesecima>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

<div class="sredinaG">
<mat-card class="karticaDashboard">
  <mat-card-header style="text-align: center; display: table; margin: 0 auto;"><h3>Ukupno botova po mesecima</h3></mat-card-header>

  <mat-card-content>
    <div style="display: table; padding: 18px; display: table; margin: 0 auto;">
      <app-botovi-po-mesecima></app-botovi-po-mesecima>
    </div>
  </mat-card-content>

</mat-card>
</div>
  
<div class="desnaG">
<mat-card class="karticaDashboard">
  <mat-card-header style="text-align: center; display: table; margin: 0 auto;"><h3>Ukupno botova po mesecima</h3></mat-card-header>

  <mat-card-content>
    <div style="display: table; padding: 18px; display: table; margin: 0 auto;">
      <app-botovi-po-mesecima></app-botovi-po-mesecima>
    </div>
  </mat-card-content>

</mat-card>
</div>

</div>
