<div class="pocetnaWrapper">

	<div class="levo">
	<mat-card class="kartica">

    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-label="Profil" class="profilIkonicaBox">explore</mat-icon>
      </div>
      <mat-card-title>Prikaz turnira</mat-card-title>
    </mat-card-header>
		<mat-card-content>
			<mat-tab-group  (selectedTabChange)="setovanjeKalendara()">
				<mat-tab label="Zakazani turniri">
					<div *ngIf="zakazaniTurniri == undefined || zakazaniTurniri.length == 0" class="div-nema-turnira">
						Nema zakazanih turnira
					</div>
					<div *ngIf="zakazaniTurniri != undefined && zakazaniTurniri.length > 0">
						<mat-form-field style="width: 100%;">
							<input matInput (keyup)="applyFilterZakazani($event.target.value)" placeholder="Pretraga">
						</mat-form-field>

						<mat-table #table [dataSource]="dataSourceZakazani"  matSort>

							

							<!-- Naziv turnira Kolona -->
							<ng-container matColumnDef="Turnir" style="width: 100%!important; max-width: 100%!important; min-width: 100%!important;">
									<mat-header-cell *matHeaderCellDef style="width: 100%!important; max-width: 100%!important; min-width: 100%!important;" class="sakrij"> Turnir </mat-header-cell>
									
									<mat-cell *matCellDef="let turnir" style="width: 100%!important; max-width: 100%!important; min-width: 100%!important;">
										  <div style="width: 100%!important; text-align: center; height: 312px;">
											<img src="{{ruta}}upload/slike/bokunda.jpg" class="slikaTurnir">
											<h2>{{ turnir.nazivTurnira }}</h2>
											<h3 class="igra">{{ turnir.nazivIgre }}</h3>
											<p>Prijave od <span class="datumi">{{turnir.pocetakPrijava*1000 | date:'dd.MM.yyyy HH:mm'}}</span> do <span class="datumi">{{turnir.krajPrijava*1000 | date:'dd.MM.yyyy HH:mm'}}</span></p>
											<p>Turnir od <span class="datumi">{{turnir.datumVremePocetka*1000 | date:'dd.MM.yyyy HH:mm'}}</span> do <span class="datumi">{{turnir.datumVremeZavrsetka*1000 | date:'dd.MM.yyyy HH:mm'}}</span></p>
											<div *ngIf="daLiJeLogovan"><div style="display: table; margin: 0 auto;"><div *ngIf="!turnir.datumVremePrijave"><button mat-raised-button color="warn" (click)="OtvoriPrijavaDialog(turnir)">Prijavi se</button></div><div *ngIf="turnir.datumVremePrijave"><button mat-raised-button color="warn" (click)="OtvoriPrijavaDialog(turnir)">Otkaži prijavu</button></div></div></div>
										</div>
									</mat-cell>
	
								</ng-container>

							<!-- Naziv turnira Kolona -->
							<!--
							<ng-container matColumnDef="Turnir" class="sakrij">
									<mat-header-cell *matHeaderCellDef class="sakrij"> Turnir </mat-header-cell>
									<mat-cell *matCellDef="let turnir" class="sakrij"> {{ turnir.nazivTurnira }} </mat-cell>
								  </ng-container>
							-->

							<!-- Naziv Igre Kolona -->
							<ng-container matColumnDef="Igra" class="sakrij">
							  <mat-header-cell *matHeaderCellDef class="sakrij"> Igra </mat-header-cell>
							  <mat-cell *matCellDef="let turnir" class="sakrij"> {{ turnir.nazivIgre }} </mat-cell>
							</ng-container>

							<!-- Pocetak prijava Kolona -->
							<ng-container matColumnDef="pocetakPrijava" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij"> Pocetak prijava </mat-header-cell>
								<mat-cell *matCellDef="let turnir" class="sakrij"> {{ turnir.pocetakPrijava*1000 | date:'dd.MM.yyyy HH:mm' }} </mat-cell>
							  </ng-container>

							  <!-- Kraj prijava Kolona -->
							<ng-container matColumnDef="krajPrijava" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij"> Kraj prijava </mat-header-cell>
								<mat-cell *matCellDef="let turnir" class="sakrij"> {{ turnir.krajPrijava * 1000 | date:'dd.MM.yyyy HH:mm' }} </mat-cell>
							  </ng-container>

							  <!-- Pocetak turnira Kolona -->
							<ng-container matColumnDef="pocetakTurnira" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij"> Pocetak turnira </mat-header-cell>
								<mat-cell *matCellDef="let turnir" class="sakrij"> {{ turnir.datumVremePocetka*1000 | date:'dd.MM.yyyy HH:mm' }} </mat-cell>
							  </ng-container>

							  <!-- Kraj Turnira Kolona -->
							<ng-container matColumnDef="krajTurnira" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij"> Kraj turnira </mat-header-cell>
								<mat-cell *matCellDef="let turnir" class="sakrij"> {{ turnir.datumVremeZavrsetka*1000 | date:'dd.MM.yyyy HH:mm' }} </mat-cell>
							  </ng-container>
							  
							  <!-- Prijava Kolona -->
							<ng-container matColumnDef="prijava" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij">  </mat-header-cell>
								<mat-cell *matCellDef="let turnir" class="sakrij"><button mat-button (click)="OtvoriPrijavaDialog(turnir)" >Prijavi se</button></mat-cell>
							  </ng-container>

							<!--  Neka podesavanja za tabelu  -->
							<mat-header-row *matHeaderRowDef="displayedColumns" style="height: 0px!important; min-height: 0px!important; max-height: 0px!important"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 286px; min-height: 286px; max-height: 286px; padding-top: 18px;"></mat-row>
						  </mat-table>
						  <!--
							<mat-paginator #paginatorZakazani
							[pageSize]="3"
							[pageSizeOptions]="[3, 6, 9]"
							[showFirstLastButtons]="true">
							</mat-paginator>
						  -->
						  
					</div>

				</mat-tab>

				<!-- Ubudziti da sve radi sa jednim redom -->

				<mat-tab label="Prošli turniri">
					<div *ngIf="prosliTurniri == undefined || prosliTurniri.length == 0" class="div-nema-turnira">
						Nema zakazanih turnira
					</div>
					<div *ngIf="prosliTurniri != undefined && prosliTurniri.length > 0">
						<mat-form-field style="width: 100%;">
							<input matInput (keyup)="applyFilterProsli($event.target.value)" placeholder="Pretraga">
						</mat-form-field>

						<mat-table #table [dataSource]="dataSourceProsli"  matSort>

							<ng-container matColumnDef="Turnir" style="width: 100%!important; max-width: 100%!important; min-width: 100%!important;">
								<mat-header-cell *matHeaderCellDef style="width: 100%!important; max-width: 100%!important; min-width: 100%!important;" class="sakrij"> Turnir </mat-header-cell>
								
								<mat-cell *matCellDef="let turnir" style="width: 100%!important; max-width: 100%!important; min-width: 100%!important;">
								  	<div style="width: 100%!important; text-align: center; height: 286px;">
										<img src="{{ruta}}upload/slike/bokunda.jpg" class="slikaTurnir">
										<h2>{{ turnir.nazivTurnira }}</h2>
										<h3 class="igra">{{ turnir.nazivIgre }}</h3>
										<p>Prijave od <span class="datumi">{{turnir.pocetakPrijava*1000 | date:'dd.MM.yyyy HH:mm'}}</span> do <span class="datumi">{{turnir.pocetakPrijava*1000 | date:'dd.MM.yyyy HH:mm'}}</span></p>
										<p>Turnir od <span class="datumi">{{turnir.datumVremePocetka*1000 | date:'dd.MM.yyyy HH:mm'}}</span> do <span class="datumi">{{turnir.datumVremeZavrsetka*1000 | date:'dd.MM.yyyy HH:mm'}}</span></p>
										<div style="display: table; margin: 0 auto; display: inline;"><button mat-raised-button color="warn" style="width: 62px;" class="dugmeMargina">Rezultati</button> <button mat-raised-button color="warn" style="width: 62px;" class="dugmeMargina" (click)="prikaziTabeluZaTakmicenje()">Tabela</button></div>
									</div>
								</mat-cell>

							</ng-container>

							<!-- Naziv turnira Kolona -->
							<!--
							<ng-container matColumnDef="Turnir" class="sakrij">
							  <mat-header-cell *matHeaderCellDef> Turnir </mat-header-cell>
                                <mat-cell *matCellDef="let turnir"><span class="mobile-label">Turnir: </span> {{ turnir.nazivTurnira }} </mat-cell>
							</ng-container>
							-->

							<!-- Naziv Igre Kolona -->
							<ng-container matColumnDef="Igra" class="sakrij">
							  <mat-header-cell *matHeaderCellDef class="sakrij"> Igra </mat-header-cell>
                                <mat-cell *matCellDef="let turnir" class="sakrij"><span class="mobile-label">Igra: </span> {{ turnir.nazivIgre }} </mat-cell>
							</ng-container>

							<!-- Pocetak prijava Kolona -->
							<ng-container matColumnDef="pocetakPrijava" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij"> Početak prijava </mat-header-cell>
                                <mat-cell *matCellDef="let turnir" class="sakrij"><span class="mobile-label">Početak prijava: </span> {{ turnir.pocetakPrijava*1000 | date:'dd.MM.yyyy HH:mm' }} </mat-cell>
							  </ng-container>

							  <!-- Kraj prijava Kolona -->
							<ng-container matColumnDef="krajPrijava" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij"> Kraj prijava </mat-header-cell>
                                <mat-cell *matCellDef="let turnir" class="sakrij"><span class="mobile-label">Kraj prijava: </span> {{ turnir.krajPrijava * 1000 | date:'dd.MM.yyyy HH:mm' }} </mat-cell>
							  </ng-container>

							  <!-- Pocetak turnira Kolona -->
							<ng-container matColumnDef="pocetakTurnira" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij"> Početak turnira </mat-header-cell>
                                <mat-cell *matCellDef="let turnir" class="sakrij"><span class="mobile-label">Početak turnira: </span> {{ turnir.datumVremePocetka*1000 | date:'dd.MM.yyyy HH:mm' }} </mat-cell>
							  </ng-container>

							  <!-- Kraj Turnira Kolona -->
							<ng-container matColumnDef="krajTurnira" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij"> Kraj turnira </mat-header-cell>
                                <mat-cell *matCellDef="let turnir" class="sakrij"><span class="mobile-label">Kraj turnira: </span>{{ turnir.datumVremeZavrsetka*1000 | date:'dd.MM.yyyy HH:mm' }} </mat-cell>
							  </ng-container>

							  <!-- Prijava Kolona -->
							<ng-container matColumnDef="prijava" class="sakrij">
								<mat-header-cell *matHeaderCellDef class="sakrij">  </mat-header-cell >
								<mat-cell *matCellDef="let turnir" class="sakrij"><button mat-button (click)="OtvoriPrijavaDialog(turnir)" >Prijavi se</button></mat-cell>
							  </ng-container>

							<!--  Neka podesavanja za tabelu  -->
							<mat-header-row *matHeaderRowDef="displayedColumns" class="sakrij" style="height: 0px!important; min-height: 0px!important; max-height: 0px!important"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 286px; padding-top: 18px;"></mat-row>
						  </mat-table>
						  <!--
							  <mat-paginator #paginatorProsli
							[pageSize]="3"
							[pageSizeOptions]="[3, 6, 9]"
							[showFirstLastButtons]="true">
							</mat-paginator>
						  -->
						  
					</div>

				</mat-tab>

			  </mat-tab-group>
    </mat-card-content>
	</mat-card>
	</div>

	<div class="desno">
	<div class="divKalendar">
		<mat-card>
			<mat-card-title>
				<h3>Kalendar</h3>
			</mat-card-title>
			<ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
					(eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
		</mat-card>
	</div>
	</div>	

</div>

<div class="divZaOpisTurnira" *ngIf="prikaziTabelu == true">
		<mat-accordion>
			<mat-expansion-panel [expanded]="true">
				<mat-expansion-panel-header><h3>Tabela za takmičenje: Naziv</h3></mat-expansion-panel-header>
			<div style="display: table; overflow-x: scroll; margin: 0 auto; margin-top: 18px;">
				<mat-card>
					<mat-card-header><h2 style="text-align: center;">Naziv kupa</h2></mat-card-header>
					<app-crtanje-kupa></app-crtanje-kupa>
				</mat-card>
			</div>
			</mat-expansion-panel>
		</mat-accordion>
</div>




