
<div class="pocetnaWrapper">

	<mat-card class="kartica">
		<mat-card-header>
            <div mat-card-avatar>
                <mat-icon class="ikonica">insert_emoticon</mat-icon>
            </div>
            <mat-card-title>O nama</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Olimijada je mesto gde se, na zabavan način, možete usavršavati u oblasti  <b>Veštačke Inteligencije</b>.
				</p>
				<p>
				Kako biste se upoznali sa našim ciljem, možete pogledati neke od <a href="#" routerLink='/igre'>igara</a> koje nudimo,
				ili neke od aktuelnih <a href="#" routerLink='/prikaz-turnira'>turnira</a>.
				Ako želite da odgledate neke mečeve, posetite naš <a href="#" routerLink='/prenos' >Olimijada TV</a>!
			</p>
			
		</mat-card-content>
  	</mat-card>

</div>
